{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowGroupOperateParticularS3Buckets",
      "Effect": "Allow",
      "Action": [
        "s3:ListBucket",
        "s3:GetBucketLocation",
        "s3:GetObject",
        "s3:PutObject"
      ],
      "Resource": [
         "arn:aws:s3:::{{udl_backup_bucket_name}}",
         "arn:aws:s3:::{{udl_backup_bucket_name}}/*"
      ]
    }
  ]
}
