{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowGroupListBuckets",
      "Effect": "Allow",
      "Action": "s3:ListAllMyBuckets",
      "Resource": "arn:aws:s3:::*"
    },
    {
      "Sid": "AllowGroupOperateParticularS3Buckets",
      "Effect": "Allow",
      "Action": [
        "s3:ListBucket",
        "s3:GetBucketLocation",
        "s3:GetObject"
      ],
      "Resource": [
         "arn:aws:s3:::{{artifacts_bucket_name}}",
         "arn:aws:s3:::{{artifacts_bucket_name}}/*",
         "arn:aws:s3:::{{s3_google_authenticator_bucket_name}}",
         "arn:aws:s3:::{{s3_google_authenticator_bucket_name}}/*",
         "arn:aws:s3:::{{s3yum_repo_name}}",
         "arn:aws:s3:::{{s3yum_repo_name}}/*",
         "arn:aws:s3:::{{s3_user_keys_bucket_name}}",
         "arn:aws:s3:::{{s3_user_keys_bucket_name}}/*"
      ]
    }
  ]
}
