{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Deny",
      "Resource": "*",
      "Action": [
          {% for ruleLine in restricted_vpc_non_admin_actions %}
              "{{ ruleLine }}"{% if loop.revindex0 > 0 %},{% endif %}
              {# this line is what provides the line-break in the output file #}
          {% endfor %}
      ]
    }
  ]
}
