{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowGroupListBuckets",
      "Effect": "Allow",
      "Action": "s3:ListAllMyBuckets",
      "Resource": "arn:aws:s3:::*"
    },
    {
      "Sid": "AllowGroupOperateParticularS3Buckets",
      "Effect": "Allow",
      "Action": [
        "s3:ListBucket",
        "s3:GetBucketLocation",
        "s3:GetObject",
        "s3:PutObject"
      ],
      "Resource": [
         "arn:aws:s3:::{{analytics_bucket_prefix}}*"
      ]
    }
  ]
}
