{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Resource": "*",
      "Action": [
          {% for ruleLine in allowedRules[item.iam_entity_name] %}
              "{{ ruleLine }}"{% if loop.revindex0 > 0 %},{% endif %}
              {# this line is what provides the line-break in the output file #}
          {% endfor %}
      ]
    }
  ]
}
