{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowGroupListBuckets",
      "Effect": "Allow",
      "Action": "s3:ListAllMyBuckets",
      "Resource": "arn:aws:s3:::*"
    },
    {
      "Sid": "AllowGroupOperateParticularS3Buckets",
      "Effect": "Allow",
      "Action": [
        "s3:ListBucket",
        "s3:GetBucketLocation",
        "s3:GetObject"
      ],
      "Resource": [
         "arn:aws:s3:::{{analytics_bucket_prefix}}*",
         "arn:aws:s3:::{{s3_google_authenticator_bucket_name}}",
         "arn:aws:s3:::{{s3_google_authenticator_bucket_name}}/*",
         "arn:aws:s3:::{{s3_idp_metadata_bucket_name}}",
         "arn:aws:s3:::{{s3_keys_bucket_name}}",
         "arn:aws:s3:::{{s3_keys_bucket_name}}/*",
         "arn:aws:s3:::{{pagerduty_bucket_name}}"
      ]
    },
    {
      "Sid": "AllowsOperateWithParticularBuckets",
      "Effect": "Allow",
      "Action": [
        "s3:ListBucket",
        "s3:GetBucketLocation",
        "s3:GetObject",
        "s3:PutObject"
      ],
      "Resource": [
         "arn:aws:s3:::{{artifacts_bucket_name}}",
         "arn:aws:s3:::{{artifacts_bucket_name}}/*",
         "arn:aws:s3:::{{db_backup_bucket}}",
         "arn:aws:s3:::{{db_backup_bucket}}/*",
         "arn:aws:s3:::{{s3yum_repo_name}}",
         "arn:aws:s3:::{{s3yum_repo_name}}/*"
      ]
    }
  ]
}
